{% import "components/page-heading.html" as page_heading %}
{% extends "base.html" %}
{% block main %}

{{ page_heading::page_heading(taxonomies = page.taxonomies, title = page.title, description = page.description) }}

<div class="container">
    {% set page = get_page(path="personnel/current/nina.md") %}
    <div style="overflow: hidden;">
        <h2>{{ page.extra.name }}</h2>
        <img src="{{ get_url(path=page.extra.image) }}"
            style="float: left; height: 300px; width: auto; margin: 0 1rem 1.5rem 0 ; border-radius: 16px;" />
        <p><strong>{{ page.extra.position}}</strong>
            <br>
            {{ page.extra.blurb }}
        </p>
    </div>
</div>

<div class="container">
    <hr>
    <h2 style="text-align: center; color: #1495a7;">Current Members</h2>
    {% set section = get_section(path="personnel/current/_index.md") %}
    {% for page in section.pages %}
    {% if page.extra.position == "Postdoc" %}
    <div style="overflow: hidden;">
        <h2>{{ page.extra.name }}
        {% if page.extra.link %}
            <a href="{{ page.extra.link }}" style="color: #1495a7;">⮊</a>
        {% endif %}
        </h2>
        <img src="{{ get_url(path=page.extra.image) }}"
            style="float: right; height: 250px; width: auto; margin: 0 0 1rem 1.5rem; border-radius: 16px;" />
        <p><strong>{{ page.extra.position}}</strong>
        <br>
        {{ page.extra.blurb }}
    </p>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="container">
    {% set section = get_section(path="personnel/current/_index.md") %}
    {% for page in section.pages %}
    {% if page.extra.position == "PhD Candidate" %}
    <div style="overflow: hidden;">
        <h2>{{ page.extra.name }}
        {% if page.extra.link %}
            <a href="{{ page.extra.link }}" style="color: #1495a7;">⮊</a>
        {% endif %}
        </h2>
        <img src="{{ get_url(path=page.extra.image) }}"
            style="float: right; height: 250px; width: auto; margin: 0 0 1rem 1.5rem; border-radius: 16px;" />
        <p><strong>{{ page.extra.position}}</strong>
        <br>
        {{ page.extra.blurb }}
        </p>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="container">
    {% set section = get_section(path="personnel/current/_index.md") %}
    {% for page in section.pages %}
    {% if page.extra.position == "PhD Student" %}
    <div style="overflow: hidden;">
        <h2>{{ page.extra.name }}
        {% if page.extra.link %}
            <a href="{{ page.extra.link }}" style="color: #1495a7;">⮊</a>
        {% endif %}
        </h2>
        <img src="{{ get_url(path=page.extra.image) }}"
            style="float: right; height: 250px; width: auto; margin: 0 0 1rem 1.5rem; border-radius: 16px;" />
        <p><strong>{{ page.extra.position}}</strong>
        <br>
        {{ page.extra.blurb }}
        </p>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="container">
    {% set section = get_section(path="personnel/current/_index.md") %}
    {% for page in section.pages %}
    {% if page.extra.position == "MS Student" %}
    <div style="overflow: hidden;">
        <h2>{{ page.extra.name }}
        {% if page.extra.link %}
            <a href="{{ page.extra.link }}" style="color: #1495a7;">⮊</a>
        {% endif %}
        </h2>
        <img src="{{ get_url(path=page.extra.image) }}"
            style="float: right; height: 250px; width: auto; margin: 0 0 1rem 1.5rem; border-radius: 16px;" />
        <p><strong>{{ page.extra.position}}</strong>
            <br>
            {{ page.extra.blurb }}
        </p>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="container">
<hr>
    <h2 style="text-align: center; color: #1495a7;">Lab Alumni</h2>

    {% set section = get_section(path="personnel/alumni/_index.md") %}
    {% for page in section.pages %}
    <div style="overflow: hidden;">
        <h2>{{ page.extra.name }}
        {% if page.extra.link %}
            <a href="{{ page.extra.link }}" style="color: #1495a7;">⮊</a>
        {% endif %}
        </h2>
        <img src="{{ get_url(path=page.extra.image) }}"
            style="float: right; height: 250px; width: auto; margin: 0 0 1rem 1.5rem; border-radius: 16px;" />
        <p><strong>{{ page.extra.position}}</strong>
        <br>
        {{ page.extra.blurb }}
        </p>
    </div>
    {% endfor %}

</div>

{% endblock %}